*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: 600;
}

.nav{
    height: 3em;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    background-color: #dedede;
}

.clr{
    margin-left: 0.5em;
    height: 1em;
    width: 1em;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000;
}
.clr:nth-child(2){
    background-color: #EF626C;
}
.clr:nth-child(3){
    background-color: #fdec03;
}
.clr:nth-child(4){
    background-color: #24d102;
}
.clr:nth-child(5){
    background-color: #fff;
}

#brush {
    margin-left: 1em;
    margin-right: 2em;
    width: 60px;
    height: 30px;
    border-radius: 5%;
    border: 3px solid rgb(214, 214, 214);
    
}

button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
    margin-right:1em;
    
}

button:hover {
    
    transform:  scale(1.2);
    
}

.save{
    background-color: #0f65d4;
}

.load {
    
    background-color: #aaaaaa;
   
}
    
